<a href="https://colab.research.google.com/github/Harshavignyan/ML_Content/blob/main/Assignment1_LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [54]:
X= data[['YearsExperience']]

In [50]:
Y = data[['Salary']]

In [8]:
from sklearn.model_selection import train_test_split

In [35]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.33,random_state=0)

In [51]:
x_train.shape

(20, 1)

In [52]:
y_train.shape

(20, 1)

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
clf = LinearRegression()

In [38]:
clf.fit(x_train, y_train)

LinearRegression()

In [53]:
y_pred = clf.predict(x_test)
# y_pred

In [46]:
from sklearn.metrics import accuracy_score,confusion_matrix, r2_score
import seaborn as sns

In [47]:
a = r2_score(y_test, y_pred)

In [48]:
a

0.9749154407708353