<a href="https://colab.research.google.com/github/Harshavignyan/ML_Content/blob/main/Handson_3_MergeJoinConcat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
user = pd.DataFrame({'id' : [1,2,3,4], 'name' : ['a','b','c','d']})
qualifications = pd.DataFrame({'user_id' : [1,2,3,4], 'qualification' : ['e','f','g','h']})

In [4]:
# merge the two data frames
pd.merge(user,qualifications,left_on='id',right_on='user_id')

   id name  user_id qualification
0   1    a        1             e
1   2    b        2             f
2   3    c        3             g
3   4    d        4             h

In [7]:
df1 = pd.DataFrame({'id' : [1,2,3,4], 'name' : ['a','b','c','d']}).set_index('id')
df2 = pd.DataFrame({'id' : [1,2,3,4], 'qualification' : ['e','f','g','h']}).set_index('id')

In [8]:
df1.join(df2)

   name qualification
id
1     a             e
2     b             f
3     c             g
4     d             h

In [10]:
df2.join(df1)

   qualification name
id
1              e    a
2              f    b
3              g    c
4              h    d

In [11]:
df1 = pd.DataFrame({'id' : [0,1,2], 'name' : ['a','b','c']}).set_index('id')
df2 = pd.DataFrame({'id' : [3,4,5], 'name' : ['d','e','f']}).set_index('id')
df3 = pd.DataFrame({'id' : [6,7,8], 'name' : ['g','h','i']}).set_index('id')

In [12]:
pd.concat([df1,df2,df3])

   name
id
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i